.progress-bar1 {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

    .progress-bar1 div {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

        .progress-bar1 div span {
            position: absolute;
            font-family: Arial;
            font-size: 25px;
            line-height: 75px;
            height: 75px;
            width: 75px;
            left: 12.5px;
            top: 12.5px;
            text-align: center;
            border-radius: 50%;
            background-color: white;
        }

    .progress-bar1 .background {
        background-color: #b3cef6;
    }

    .progress-bar1 .rotate {
        clip: rect(0 50px 100px 0);
        background-color: #4b86db;
    }

    .progress-bar1 .left {
        clip: rect(0 50px 100px 0);
        opacity: 1;
        background-color: #b3cef6;
    }

    .progress-bar1 .right {
        clip: rect(0 50px 100px 0);
        transform: rotate(180deg);
        opacity: 0;
        background-color: #4b86db;
    }

@keyframes toggle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.bt {
    width: 150px;
    color: white !important;
}
.btn-four {
    border-radius: 0%;
    height: 45px;
    margin-top: -39%;
    margin-left: 63.6%;
    background-color: #333A42;
}

.btn-two {
    height: 46px;
    margin-top: -45.2%;
    margin-left: 30%;
}
.btn-three {
    height: 45px;
    margin-top: -32.2%;
    margin-left: 33%;
}

.container {
    margin-top: 10px;
}

.progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    float: left;
}

    .progress-bar-vertical .progress-bar {
        width: 100%;
        height: 0;
        -webkit-transition: height 0.6s ease;
        -o-transition: height 0.6s ease;
        transition: height 0.6s ease;
        background-color: #24AFB2;
    }
.cont {
    margin-top: 7%;
}
.stnav{

}
@media screen and (max-width: 1197px) {
    .bt {
        width: 127px !important;
        color: white !important;
    }
}
@media screen and (max-width: 991px) {
    .btn-four {
        height: 45px;
        margin-top: -43%;
        margin-left: 69.6%;
    }
    }
@media screen and (max-width: 991px) {
    .btn-two {
        margin-top: -52%;       
        height: 45px;
        margin-left: 41%;
    }
}
@media screen and (max-width: 767px) {
    .btn-two {
        margin-top: -32%;
        height: 45px;
        margin-left: 2%;
    }
    .btn-four {
        height: 45px;
        margin-top: -41.3%;
        margin-left: 47.6%;
    }
    .btn-three {
        height: 45px;
        margin-top: -37.2%;
        margin-left: 32.5%;
    }
}
.form {
}
.srch {
    margin-left: 15%;  
    width: 114%;
    height: 47px;
}
.span-two {
    width: 65px;
    height: 40%;
    margin-top: -52%;
    margin-left: -123%;
}
.span-one{
    width: 65px;
    height: 40%;
    margin-top: 20%;
}
.slidh {
    margin-top: 6%;
    margin-left: 6%;
    width: 80%;
}
.divslid {
    width: 305px;
}
.cent {
    margin-top:0;
    margin-left: 0%;
}
.select-one {
  
    MARGIN-LEFT: -2%;
    margin-top: 3%;
}
.select-two {

    MARGIN-LEFT: -2%;
    margin-top: -1%;
   
}
@media screen and (max-width: 572px) {
    .btn-four {
        margin-left: 48%;
    }
}
@media screen and (max-width: 544px) {


    .btn-four {
        margin-left: 48.8%;
    }
}
@media screen and (max-width: 553px) {
    .btn-four {
        margin-left: 48.6%;
    }
}
@media screen and (max-width: 520px) {
    .btn-four {
        margin-left: 49.4%;
    }
}
@media screen and (max-width: 497px) {
    .btn-four {
        margin-left: 49.9%;
    }
}
@media screen and (max-width: 478px) {
    .btn-four {
        margin-left: 50.5%;
    }
}
@media screen and (max-width: 454px) {
    .btn-four {
        margin-left: 51.5%;
    }
}
@media screen and (max-width: 423px) {
    .btn-four {
        margin-left: 52.5%;
    }
}
@media screen and (max-width: 404px) {
    .btn-four {
        margin-left: 52.9%;
    }
    .btn-three {
        height: 45px;
        margin-top: -35.2%;
        margin-left: 32.5%;
    }
}
@media screen and (max-width: 386px) {
    .btn-four {
        margin-left: 53.9%;
    }

}
@media screen and (max-width: 364px) {
    .btn-four {
        margin-left: 54.9%;
    }
}
@media screen and (max-width: 338px) {
    .btn-four {
        margin-left: 55.9%;
    }
}
@media screen and (max-width: 320px) {
    .btn-four {
        margin-left: 56.9%;
    }
}
@media screen and (max-width: 302px) {
    .btn-four {
        margin-left: 58.2%;
    }
}
@media screen and (max-width: 287px) {
    .btn-four {
        margin-left: 59.2%;
    }
}
@media screen and (max-width: 364px) {
    .btn-four {
        margin-left: 55%;
    }
}

@media screen and (max-width: 341px) {
    .btn-four {
        margin-left: 56%;
    }
}
@media screen and (max-width: 315px) {
    .btn-four {
        margin-left: 56%;
    }
}
@media screen and (max-width: 311px) {
    .btn-four {
        margin-left: 57.8%;
    }
}
@media screen and (max-width: 296px) {
    .btn-four {
        margin-left: 58.8%;
    }
}
@media screen and (max-width: 275px) {
    .btn-four {
        margin-left: 60.2%;
    }
    .btn-three {
        margin-top: -33.2%;
    }
}

@media screen and (max-width: 1189px) {
    .form {
        width: 205px;
    }
    .srch {
        margin-left: 18%;
        width: 63% !important;
    }
    .span-two {
        margin-left: -172%;
        width:51px;
    }
    .span-one {
        margin-left: -52%;
        width: 91% !important;
    }
    .slider.slider-horizontal {
        width: 264px;
        height: 20px;
        margin-top: -26%;
    }
    img {
        vertical-align: middle;
        width: 70%;
    }
    .progress-bar-vertical {
        width: 10px;
    }
    .progress-bar1 div {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-left: -44%;
    }
    }

@media screen and (max-width: 991px) {
    .select-one {
        MARGIN-LEFT: 4%;
        margin-top: 1%;
        width: 186px !important;
    }
    .select-two {
        MARGIN-LEFT: 4%;
        margin-top: -1%;
        width: 186px !important;
    }
    .cent {
        margin-top: 319%;
        margin-left: -324%;
    }
    .srch {
        margin-top: 350%;
       
        width: 79% !important;
        margin-left: -152% !important;
    }
    .cont {
        margin-top: 16%;
        margin-left: -174% !important;
    }
    .mt-4, .my-4 {
        margin-top: 1.5rem !important;
        margin-left: 20%;
        margin-left: -178% !important;
    }
    .stnav {
        margin-top: 10%;
    }
    .form-group {
        margin-bottom: 72px;
    }
    .slider {
        margin-bottom: 60%;
    }
    }