<style>
    .col-lg-2 {
        border: solid;
        height: 400px;
    }

    .bt {
        width: 150px;
        color: white !important;
    }
    .checkmark {
        position: absolute;
        top: -25px;
        left: -6px;
        height: 52px;
        width: 43px;
        background-color: darkturquoise;
        border-radius: 50%;
    }
</style>

@*<div class="row">*@
<div class="" style="margin-top: 17%;
    margin-left: 28%;">
    <button type="button" class="btn btn-default bt" style="       margin-top: -32%;
    margin-left: -31%;     background-color: #6D7B8D; border-radius: 0%;    height: 45px;">
        BUTTON
    </button>
    <button type="button" class="btn btn-default bt" style="
    margin-top: -32%;
    border-radius: 0%;
    height: 45px;
    margin-left: 7%;
    background-color: darkturquoise;">BUTTON</button>
</div>
<div class="" style="margin-top: 20%;
    margin-left: -40%;     height: 45px;">
    <button type="button" class="btn btn-default bt " style="      border-radius: 0%;
    height: 45px;
    margin-top: -32.2%;
    margin-left: 33%;
    background-color: #333A42;">
        BUTTON
    </button>
    <button type="button" class="btn btn-default bt " style="
           border-radius: 0%;
    height: 45px;
    margin-top: -39%;
    margin-left: 63.6%;
    background-color: #333A42">
        BUTTON
    </button>
    <form>
        <label class="radio-inline" style="       margin-top: 19%;
    margin-left: 39%;">
            <input type="radio" class="checkmark" name="optradio" style=" margin-top: 75%;
    margin-left: 9%;">option
        </label>
        <label class="radio-inline" style="   margin-left: 20%;
    margin-top: 19%;">
            <input type="radio" class="checkmark" name="optradio" style="    margin-top: 75%;
    margin-left: 48%;">selected 
        </label>
       
    </form>
</div>
