<style>
    /*.col-lg-2 {
        border: solid;
        height: 400px;
    }*/
    .checkmark {
        /*position: absolute;
        top: -25px;
        left: -6px;*/
        /*height: 52px;
        width: 43px;
        background-color: #24AFB2;
        border-radius: 50%;
        border-color:white;*/
    }
</style>
@*we have 2 div each one contains 2 buttons*@
<div class="DivButtons" style="width:100%;text-align:center;    margin-left: 10%; margin-top: -5%;">
    <div class ="ButtDiv" style="">
        <button type="button" class="btn-one btn btn-default bt" style="background-color: #6D7B8D; border-radius: 0; height:45px">
            BUTTON
        </button>
        <button type="button" class="btn-two btn btn-default bt" style="border-radius: 0%; background-color: #24AFB2;">BUTTON</button>
    </div>
    <div class="" style="margin-top: 20px; margin-bottom:50px;">
        <button type="button" class="btn-three btn btn-default bt " style="border-radius: 0%;background-color: #333A42;">
            BUTTON
        </button>
        <button type="button" class="btn-four btn btn-default bt " style=" background-color: #333A42; border-radius: 0;">
            BUTTON
        </button>
    </div>
    @*ffgh*@
    <div class="DivPlayers" style="width: 71px;">
        @*in this div we put 3 Font Awesome Video Player Icons*@
        <div class="iconDiv" style="background-color: #6D7B8D;    height: 41px;">
            <i style="font-size:24px; color:white;    margin-left: 9%;" class="fa">&#xf048;</i>
            <i style="font-size:24px;color:white;font-size: 24px;
    color: white;
    margin-left: 19%;" class="fa">&#xf04c;</i>
            <i style="font-size:24px;color:white;    font-size: 24px;
    color: white;
    margin-left: 19%;
    /* height: 100px; */
    margin-top: 6%;" class="fa">&#xf051;</i>
        </div>
        <div class="slidStyle">
            @*Rounded switch*@
            <label class="switch">
                <input type="checkbox">
                <span class="span-one sliderr round"></span>

            </label>
        </div>
        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="span-two sliderr round"></span>

            </label>
        </div>
        @*Filter by interval:*@
      
        <div style="width: 100%;margin-left: 8%; margin-top: -14%;">
    
                <div>

                    <b></b> <input id="ex2" type="text" class="divslid span2" value="" data-slider-min="10"
                                   data-slider-max="1000" data-slider-step="5"
                                   data-slider-value="[0,13000]" data-slider-id='ex2Slider' style="margin-top: -169%!important;" /> <b></b>
                </div>
                <div style="margin-left: 6%;
    width: 100%;
    margin-top: 7%;">
                    <input id="ex1" class="slidh" data-slider-id='ex1Slider' type="text" data-slider-min="0"
                           data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-tooltip="hide"
                           data-slider-handle="round" />
                </div>
             
</div>
            @*we have 2 radio buttons*@
            <div style=" width:100%; text-align:center;">

                <form class="formStyl">
                    <label class="radio-inline" style="    margin-left: -40px;">
                        <input type="radio" class="checkmark" name="optradio" style="margin-left:-40px;">option
                    </label>
                    <label class="radio-inline" style="margin-left: -170px;
                         margin-right: -230px;">
                        <input type="radio" class=" StyleRadio checkmark" name="optradio" style="margin-left:-40px;">selected
                    </label>

                </form>
            </div>
      
    </div>
</div>

<script>

    // With JQuery
    $("#ex2").slider({});

</script>


<script>
    // With JQuery
    $('#ex1').slider({
        formatter: function (value) {
            return 'Current value: ' + value;
        }
    });

    //colors
    var RGBChange = function () {
        $('#RGB').css('background', 'rgb(' + r.getValue() + ',' + g.getValue() + ',' + b.getValue() + ')')
    };

    var g = $('#ex1').slider()
        .on('slide', RGBChange)
        .data('slider');

    var g = $('#ex2').slider()
        .on('slide', RGBChange)
        .data('slider');
</script>
<style>
    #RGB {
        height: 20px;
        background: rgb(128, 128, 128);
    }

    #ex1Slider .slider-selection {
        background: #24AFB2;
    }

    #RC .slider-handle {
        background: red;
    }

    #ex2Slider .slider-selection {
        background: #24AFB2;
    }

    #GC .slider-handle {
        background: green;
    }

    #BC .slider-selection {
        background: #8283FF;
    }

    #BC .slider-handle {
        border-bottom-color: blue;
    }

    #R, #G, #B {
        width: 300px;
    }
</style>
<style>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }


    .sliderr:before {
        position: absolute;
        content: "";
        height: 11px;
        width: 26px;
        left: 2px;
        margin-bottom: -3%;
        bottom: 4px;
        background-color: #6D7B8D;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .sliderr {
        background-color: #CECECE;
    }

    input:focus + .sliderr {
        box-shadow: 0 0 5px #CECECE;
        border: solid;
    }

    input:checked + .sliderr:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .sliderr.round {
        border-radius: 34px;
    }

        .sliderr.round:before {
            border-radius: 50%;
        }
</style>
<style>
    #ex1Slider .slider-selection {
        background: #BABABA;
    }
</style>