<style>
    /*.col-lg-2 {
        border: solid;
        height: 400px;
    }*/
   
   

    .checkmark {
        /*position: absolute;
        top: -25px;
        left: -6px;*/
        /*height: 52px;
        width: 43px;
        background-color: #24AFB2;
        border-radius: 50%;
        border-color:white;*/
    }
  
</style>

<link href="~/Content/style.css" rel="stylesheet" />

   @*we have 2 div each one contains 2 buttons*@
<div class="" style="margin-top: -20px; margin-bottom:20px;width:100%;text-align:center; ">
    <div style="margin-top: 20px; margin-bottom:20px;">
        <button type="button" class="btn-one btn btn-default bt" style="background-color: #6D7B8D; border-radius: 0; height:45px">
            BUTTON
        </button>
        <button type="button" class="btn-two btn btn-default bt" style="border-radius: 0%; background-color: #24AFB2;">BUTTON</button>
    </div>
    <div class="" style="margin-top: 20px; margin-bottom:50px;">
        <button type="button" class="btn-three btn btn-default bt " style="border-radius: 0%;background-color: #333A42;">
            BUTTON
        </button>
        <button type="button" class="btn-four btn btn-default bt " style=" background-color: #333A42; border-radius: 0;">
            BUTTON
        </button>
    </div>

    @*we have 2 radio buttons*@
    <div style=" width:100%; text-align:center;">
       
        <form class="formStyl">
            <label class="radio-inline" style="margin-left:-270px;">
                <input type="radio" class="checkmark" name="optradio" style="">option
            </label>
            <label class="radio-inline" style="margin-left:-200px;">
                <input type="radio" class="checkmark" name="optradio" style="">selected
            </label>

        </form>
    </div>
</div>

