
@*in this for we have 5 inputs each one is putted in a div*@
<center class="cent">
    <form class="form">
        <div class="form-group">

            <input class=" " type="text" value="" data-role="tagsinput" placeholder="Add tags" style=" border-radius: 0; margin-top: 3%; height: 45px;" />@*<i class="fa fa-plus" aria-hidden="true"></i>*@
          
        </div>
        <div class="form-group">

            <input class="" style=" padding:10px; width:98%; border-radius:0; border: 1px solid #808080;margin-top:20px; height: 45px;" placeholder="INPUT">
        </div>
        <div class="form-group">

            <input class="" style=" border-radius: 0; height: 45px; padding:10px; width:98%;   border: 1px solid #1FA055; " placeholder="INPUT FOCUS">
        </div>
        <div class="form-group">

            <img src="~/Content/err.PNG" style=" " />
            <input class="" style=" border-radius: 0;   padding:10px; width:98%;  border: 1px solid #CF3E36; height: 45px; margin-top: 15px;" placeholder="ERROR">
        </div>
        <div class="form-group">

            <input class=""  style="    padding:10px; width:98%; border: 1px solid #1FA055; border-radius: 0; height: 45px;" placeholder="SUCCESS">
        </div>

    </form>
</center>
