
@*each list in a div and each check box is in a div*@
<div class="form-group">   
    <select class="form-control" style="  color: white;  border-radius: 0% ;    MARGIN-LEFT: -2%;
    margin-top: 3%; background-color: #6D7B8D;font-size: 18px;
    height: 45px;">
        <option>SELECT </option>
        <option>LIST ITEM 1</option>
        <option>LIST ITEM 2</option>
        <option>LIST ITEM 3</option>
        <option>KANYE WEST</option>
    </select>
</div>
<div class="form-group">

    <select class="form-control" style="  color: white;  border-radius: 0% ;    MARGIN-LEFT: -2%;
    margin-top: -1%; background-color: #6D7B8D;font-size: 18px;
    height: 45px;">
        <option>SELECT </option>
        <option>LIST ITEM 1</option>
        <option>LIST ITEM 2</option>
        <option>LIST ITEM 3</option>
        <option>KANYE WEST</option>
    </select>

    <div class="form-group" style="    margin-top: 50%;">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" style="    width: 36px;
    height: 35px;">
            <label class="form-check-label" for="inlineCheckbox1">checkbox</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" style="    width: 36px;
    height: 35px;">
            <label class="form-check-label" for="inlineCheckbox1">selected</label>
        </div>
    </div>

</div>
