<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
<style>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: -41px;
        left: 274px;
        right: 0;
        bottom: 0;
        background-color: #24AFB2;
        -webkit-transition: .4s;
        transition: .4s;
        border: white;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 26px;
            left: 2px;
            margin-bottom: -3%;
            bottom: 4px;
            background-color: #6D7B8D;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #CECECE;
    }

    input:focus + .slider {
        box-shadow: 0 0 5px #CECECE;
        border: solid;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
</head>
<body>
    @*in this div we put 3 Font Awesome Video Player Icons*@
    <div style="background-color: #6D7B8D;
    width: 128px;
    margin-left: 7%;
    height: 41px;
    margin-top: -19%;">
        <i style="font-size:24px; color:white;    margin-left: 9%;" class="fa">&#xf048;</i>
        <i style="font-size:24px;color:white;font-size: 24px;
    color: white;
    margin-left: 19%;" class="fa">&#xf04c;</i>
        <i style="font-size:24px;color:white;    font-size: 24px;
    color: white;
    margin-left: 19%;
    /* height: 100px; */
    margin-top: 6%;" class="fa">&#xf051;</i>
    </div>



    <div>
        @*Rounded switch*@ 
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"
                  style="width: 65px;
    height: 40%;
    margin-top: 20%;"></span>

        </label>
    </div>
    <div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"
                  style="width: 65px;
    height: 40%;
    margin-top: -52%;
    margin-left: -123%;"></span>

        </label>
    </div>

    <div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"
                  style="    width: 321px;
    margin-top: -51%;
    margin-top: 68%;
    margin-left: -411%;
    margin-bottom: 36%;"></span>

        </label>
    </div>
</body>
</html>




