<div class=" container cont" >

    <div class="progress progress-bar-vertical">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
            <span class="sr-only">30% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 80%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 100%;">
            <span class="sr-only">30% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 90%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 80%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    <div class="progress progress-bar-vertical">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 70%;">
            <span class="sr-only">30% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>

    <div class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 50%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    <div class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 25%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row" style="      width: 327px;
    margin-top: 4%;
    margin-left: 1%;">
        <div class="col-md-4">
            <div class="progress-bar1" data-color="#ccc,#24AFB2" data-duration="1000" data-percent="25"></div>
        </div>
        <div class="col-md-4">
            <div class="progress-bar1" data-color="#ccc,#6D7B8D" data-duration="1000" data-percent="58" style="margin-top: 87%;"></div>
        </div>
        <div class="col-md-4">
            <div class="progress-bar1" data-color="#ccc,#24AFB2" data-duration="1000" data-percent="90"></div>
        </div>
    </div>
</div>
